@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Hind Siliguri", sans-serif;
}

.active {
    color: red;
}
.bottom-nav {
    padding: 10px 5px;
}
.bottom-nav svg {
    margin: auto;
    font-size: 18px;
}